<nav class="navbar bg-dark">
  <div class="container">
    <h2>Angular Curd Operation</h2>
  </div>
  <div class="d-flex">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>

  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title" id="exampleModalLabel">ADD EMPLOYEE DATA </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex">
        <form [formGroup]="form">
          <div class="row1">
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">First Name</label>
              <input type="text" class="form-control" formControlName="fname" required minlength="2"
                placeholder="Enter First Name" [ngClass]="{'is-invalid' : submitted && f['fname'].errors}">
              <div *ngIf="submitted && f['fname'].errors" class="invalid-feedback">
                <div *ngIf="f['fname'].errors['required']">First Name is Required</div>
                <div *ngIf="f['fname'].errors['minlength']">Please enter a valid First Name</div>
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" class="form-control" formControlName="lname" required minlength="2"
                placeholder="Enter Last Name" [ngClass]="{'is-invalid' : submitted && f['lname'].errors}">
              <div *ngIf="submitted && f['lname'].errors" class="invalid-feedback">
                <div *ngIf="f['lname'].errors['required']">Last Name is Required</div>
                <div *ngIf="f['lname'].errors['minlength']">Please enter a valid Last Name</div>
              </div>
            </div>
          </div>

          <div class="row1">
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Enter Email" required
                [ngClass]="{'is-invalid' : submitted && f['email'].errors}">
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is Required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
              </div>
            </div>

            <div class="form-group mb-2" id="depart" d-flex>
              <label for="exampleInputEmail1">Department</label>
            </div>
            <select id="department" class="form-control" required
              [ngClass]="{'is-invalid' : submitted && f['email'].errors}">
              <option value="Enter Department">Enter Department</option>
              <option value="Frontend" id="Frontend">Frontend</option>
              <option value="Backend" id="Backend">Backend</option>
              <option value="QA" id="QA">QA</option>
              <option value="BA" id="BA">BA</option>
            </select>
            <div *ngIf="submitted && f['department'].errors" class="invalid-feedback">
              <div *ngIf="f['department'].errors['required']">Department is Required</div>
            </div>

          </div>

          <div class="row1">
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Address</label>
              <input type="text" class="form-control" formControlName="address" placeholder="Enter Address" required
                [ngClass]="{'is-invalid' : submitted && f['address'].errors}">
              <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                <div *ngIf="f['address'].errors['required']">Address is Required</div>
                <div *ngIf="f['address'].errors['address']">Address is invalid</div>
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Contact Number</label>
              <input type="text" class="form-control" formControlName="contactnumber" placeholder="Enter Contact Number"
                required [ngClass]="{'is-invalid' : submitted && f['contactnumber'].errors}">
              <div *ngIf="submitted && f['contactnumber'].errors" class="invalid-feedback">
                <div *ngIf="f['contactnumber'].errors['required']">Contact Number is Required</div>
                <div *ngIf="f['contactnumber'].errors['contactnumber']">Contact Number is invalid</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-2">
            <label for="exampleInputEmail1">Description</label>
            <textarea class="form-control" rows="5" id="comment" formControlName="description"
              placeholder="Enter Description" required
              [ngClass]="{'is-invalid' : submitted && f['description'].errors}"></textarea>
            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
              <div *ngIf="f['description'].errors['required']">Description is Required</div>
              <div *ngIf="f['description'].errors['description']">Description is invalid</div>
            </div>

          </div>

          <div class="row1">
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Password</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Enter Password"
                required [ngClass]="{'is-invalid' : submitted && f['password'].errors}">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is Required</div>
                <div *ngIf="f['password'].errors['password']">Password is invalid</div>
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmpassword"
                placeholder="Enter Confirm Password" required
                [ngClass]="{'is-invalid' : submitted && f['confirmpassword'].errors}">
              <div *ngIf="submitted && f['confirmpassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmpassword'].errors['required']">Confirm Password is Required</div>
                <div *ngIf="f['confirmpassword'].errors['confirmpassword']">Confirm Password is invalid</div>
              </div>
            </div>
          </div>


          <div class="form-group mb-2">
            <label for="exampleInputEmail1">Status</label>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Active
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                In Active
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button (click)="addemployee(this.form.value)" [disabled]="this.form.invalid" type="button"
          class="btn btn-primary">Add </button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col">Address</th>
        <th scope="col">contact Number</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.fname}}</td>
        <td>{{item.lname}}</td>
        <td>{{item.email}}</td>
        <td>{{item.department}}</td>
        <td>{{item.address}}</td>
        <td>{{item.contactnumber}}</td>
        <td>{{item.description}}</td>
        <td>{{item.status}}</td>
        <td class="d-flex flex-row"><button routerLink="/update" ><img src="assets/edit.png"></button>&nbsp;
          <button (click)="deleteemployee(item.id)"><img src="assets/Remove.png"></button>
          <!-- routerLink="/update/{{item.id}}" -->
          <!-- (click)="delete(item.id)" -->
        </td>
      </tr>

    </tbody>
  </table>
</div>